.emscripten { padding-right: 0; margin-left: auto; margin-right: auto; display: block; }
div.emscripten { text-align: center; }

#graph {
  position: absolute;
}

#commit_graph_container {
  left: 120px;
  white-space: nowrap; /*pre*/
}

.log {
  /*border: 1px solid blue;*/
  height: 25px;
  margin-left: 50px;
}

.directory_listing {
  font-family: monospace;
}

.filename_entry {
  margin: 0.5em;
}

.filename_entry_untracked {
  margin: 0.5em;
  color: gray;
}

.dirname_entry {
  margin: 0.5em;
  font-weight: bold;
}

.filename_entry:hover {
  cursor: pointer;
}

.dirname_entry:hover {
  cursor: pointer;
}

#text_editor {
  width: 100%; 
  margin-top: 0.5em;
  border-color: gray;
}

.clickable:hover {
  cursor: pointer;
}

.drag { 
    position: absolute;
    left: 0px;
    top: 0px;
    width: 600px; 
    background: rgba(255,255,255,0.8); 
    border: 2px  solid rgba(0,0,0,0.5); 
    border-radius: 4px; padding: 8px;
}

#terminal_drag {
  background: rgba(0,0,0,0.9);
  top: 20em;
}

#textbook_drag {
  top: 2em;
  left: 500px;
  width: 600px;
}

#explorer_drag {
  background: rgba(255,255,255,0.8);
}

#text_editor {
  background: transparent;
  border: none;
}

    .code {
      border-radius: 3px;
      color: #f14e32;
      font-family: Courier,monospace;
    }
    .output {
       border-radius: 3px;
       font-family: Courier,monospace; 
    }
